.container{
    /* padding-top: 10%; */
    margin: 10% 30%;
    height: 300px;
    width: 500px;
    text-align: center;
    border: 2px solid black;
    font-weight: bold;
    font-size: 3rem;
}
button{
    background-color: rgb(160, 160, 226);
    color: whitesmoke;
    border: none;
    border-radius: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    padding: 12px 12px;
}
button:hover{
    background-color: rgba(92, 92, 255, 0.912);
    cursor: pointer;
}